.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  overflow: hidden;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-50px);
  animation: slideIn 0.3s forwards;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 10px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #f04e30; /* Accent color on hover */
}

/* Keyframes for animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 600px) {
  .modal-content {
    max-width: 95%;
    max-height: 80%;
    padding: 10px;
  }

  .close-btn {
    font-size: 1.5rem;
  }
}
